*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    height: 100%;
    width: 100%;
}
/* Styles for devices with a maximum width of 480 pixels (smartphones) */
@media only screen and (max-width: 480px) {
   .blue_background{
    background-color: hsl(234, 85%, 45%);
    height: 40%;
    border-bottom-left-radius: 2em;
    border-bottom-right-radius: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2em;
    padding: 2em 0 2em 0;
   }
   .result{
    color: whitesmoke;
   }
   .round{
    background-color:pink;
    padding: 3em;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   }
   .round h1{
    font-size: 2em;
    color: white;
   }
   .round p{
   color:whitesmoke ;
   }
   .downpart{
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */
    gap: 1em;
    
   }
   .cards{
    
    display: flex;
    justify-content: space-between;
    width:90% ;
    margin: auto;
    border-radius: 1em;
    padding: 1em;
   }
   .continue{
    background-color: hsl(252, 100%, 67%);
    color: white;
    text-align: center;
    padding: 0.5em;
    border-radius: 3em;
    width: 90%;
    display: block;
    
   }
   .summary{
    background-color: white;
    padding-left: 0;
    padding-bottom: 0;
   }
    .c1{
    color: hsl(0, 100%, 67%);

   }
   .c2{
    color: hsl(39, 100%, 56%);

   }
   .c3{
    color: hsl(166, 100%, 37%) ;
   }
   .c4{
    color: hsl(234, 85%, 45%);
   }
   .attribution{
    background-color:hsl(234, 85%, 45%); 
    margin-top: 3em;
    padding: 1em;
   }
  }
  